<li class ="notification">
  <p class="notification_detail"><%== notificatioin_detail(notification) %><span><%= "(#{time_ago_in_words(notification.created_at)}å‰)" %></span></p>
  <% unless notification.comment.nil? %>
    <p class="notification_comment"><%= notification.comment.content %></p>
  <% end %>
</li>